# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
codegen

# Temp files
*.*~

# Ignore the qsub files
*.cobaltlog
*.output
*.error

# Ignore the generated testfiles
testsuite/test_fns


# Ignore generated code directories
qpx
avx
scalar
avx2 
mic