#include "decl_common.h"

#include <iostream>

#define NOT_IMPLEMENTED                                            \
  (std::cout                                                       \
   << "This particular kernel is not implemented. sizeof(FT) = "   \
   << sizeof(FT)                                                   \
   << ", veclen="                                                  \
   << veclen                                                       \
   << ", soalen="                                                  \
   << soalen                                                       \
   << ", compress12="                                              \
   << compress12                                                   \
   << ""                                                           \
   << std::endl);
